/* BODY */
html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #22232f;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.lightmode {
    background-color: #4f516b;
    color: black;
}

a:link {
    color: #0ff;
}

a:visited {
    color: #00f;
}

/* NAVIGATION BAR */
.topnav {
    background-color: #333;
    position: sticky;
    top: 0;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    cursor: pointer;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav-right {
    float: right;
}